<div class="pad-left" id="title-hold-chart">
  <strong>Top 10 Most Popular Books By Number of Holds</strong>
  <div class="clearfix"></div>
  <div>
    <a href="javascript:window.titleHoldVolumeChart.filterAll(); dc.redrawAll();">Reset</a>
  </div>
</div>
