<div id="weekly-volume-chart">
  <div style="font-size: 10px; display: none;" class="reset indent-left">
    Date Range:
    <span style="font-size: 10px;" class="filter"></span>
    <a class="reset" href="javascript:window.holdVolumeChart.filterAll(); dc.redrawAll();">reset</a>
    </span>
  </div>
</div>
